:root {

  /* FONTS */
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Poppins", sans-serif;

  /* COLOURS */
  --primary-colour: #333;
  --secondary-colour: #5a32aa;
  --tertiary-colour: #aa2346;
  --quaternary-colour: #82aa32;
  --quinary-colour: #32aa96;


  /* MEDIA QUERIES */
  --mq-mob: 480px;
  --mq-mob--sml: 375px;
  --mq-mob--med: 560px;
  --mq-mob--lrg: 640px;

  --mq-tab: 768px;
  --mq-tab--sml: 765px;
  --mq-tab--lrg: 820px;

  --mq-desk: 960px;
  --mq-desk--med: 1024px;
  --mq-desk--lrg: 1120px;
  --mq-desk--xlrg: 1400px;

}



button {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 5px 10px;
  transition: all 0.25s;
}

.App {
  text-align: left;
}


/* OBJECTS */
/* 1460px the bigger container */
/* 1320px the normal container */

.o-container {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  
  @media screen and (min-width: 1440px) {
    padding: 0;
  }
}

.o-container--small {
  max-width: 670px;
}

.o-container--large {
  max-width: 1460px;
}

.o-container--full {
  max-width: 100%;
}

.o-container--medium {
  max-width: --mq-tab--lrg;
  
  @media screen and ( max-width: var(--mq-tab--lrg)) {     
      padding: 0 20px;
  }
}