body {
  margin: 0;
  font-family: var(--primary-font), sans-serif;
  color: var(--primary-colour);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 36px;
  text-align: left;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
